---
import type { CollectionEntry } from "astro:content"
import { Pill } from "@eliancodes/brutal-ui"
import SummaryCard from "../generic/SummaryCard.astro"
import { Button } from "@eliancodes/brutal-ui"

interface Props {
  post: CollectionEntry<"projects">
}

const { post } = Astro.props
---

<SummaryCard title={post.data.title} description={post.data.description}>
  <div class="my-4 flex justify-end">
    {
      post.data.title === "Code Racer" ? (
        <Button href={post.data.link} target="_blank">
          View Site &rarr;
        </Button>
      ) : (
        <Button href={post.data.link} target="_blank">
          Source Code &rarr;
        </Button>
      )
    }
  </div>
  <div class="hidden sm:inline-block">
    <p class="poppins">Built with:</p>
    <div class="flex items-center justify-between">
      <ul class="mt-2 flex gap-4">
        {
          post.data.tags.map((tag: any) => {
            return (
              <a class="sanchez">
                <Pill>{tag}</Pill>
              </a>
            )
          })
        }
      </ul>
    </div>
  </div>
</SummaryCard>
